html,
body {
  height: 100vh;
  overflow: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../images/math-bg.jpg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  color: white;
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media only screen and (max-width: 750px) {
  .header-title {
    font-size: 36px;
  }

  ul {
    flex-direction: column;
    font-size: 20px;
    gap: 5px;
  }

  main h1 {
    font-size: 30px;
  }

  .home-text {
    font-size: 24px;
  }

  .calc-page-content {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .calc-page-content h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  #calculator {
    max-width: 400px;
    margin-top: 30px;
  }

  .quote {
    font-size: 28px;
  }
}
