html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

#calculator {
  width: 600px;
  border: 1px solid gray;
}

.screen {
  background-color: cadetblue;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 28px;
  padding-right: 10px;
  color: white;
  text-align: end;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.button {
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  cursor: pointer;
  border: 1px solid gray;
  font-size: 18px;
}

.button:active {
  background-color: rgb(219, 233, 245);
  border: 1px solid black;
}

.row .button:last-child {
  background-color: orange;
}

.row .button:last-child:active {
  background-color: rgb(223, 149, 12);
}

.row:nth-last-of-type(1) {
  grid-template-columns: 2fr 1fr 1fr;
}
